{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://www.facebook.com/photo.php?fbid=10153250726980205&set=pb.528870204.-2207520000.1472095585.&type=3&theater');"></div>
                <div class="carousel-caption">
                    <h2>Test</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://www.facebook.com/photo.php?fbid=10153250726980205&set=pb.528870204.-2207520000.1472095585.&type=3&theater');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://www.facebook.com/photo.php?fbid=10153250726980205&set=pb.528870204.-2207520000.1472095585.&type=3&theater');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container" >

        <div class="row" id="BrideGroom">
            <div class="col-md-6">
                <h3>The Groom</h3>

                <h3>{{ groom.name }}</h3>

                <img id="bigpic" src="/media/{{ groom.photo }}">

                <p>{{ groom.description|linebreaks }}</p>

            </div>
            <div class="col-md-6">
                <h3>The Bride</h3>

                <h3>{{ bride.name }}</h3>

                <img id="bigpic" src="/media/{{ bride.photo }}">

                <p>{{ bride.description|linebreaks }}</p>

            </div>
        </div>

       <div id="countdown_timer">
           <h3>The countdown is on..</h3>
           <div id="countdown">
           </div>
           <p> We cant wait to spend the day with you</p>
       </div>


       <div id="venue">
       <h3>The Venues</h3>
            <div class = 'row'>
                <div class=" col-sm-6">
                    {% for venue in venues %}
                        {% if venue.church %}
                            <h3>The Church</h3>
                            <h4>{{ venue.name }}</h4>
                            <div id="churchmap">
                            <div>
                            <p>{{ venue.url }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                    {% for venue in venues %}
                        {% if not venue.church %}
                            <h3>The Hotel</h3>
                            <h4>{{ venue.name }}</h4>
                            <div id="hotelmap">
                            <div>
                            <p>{{ venue.url }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
       </div>
    </div>

{% endblock %}